.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-inner {
  background-image: url(./homepage.jpg);
  background-repeat: no-repeat;
  background-size: 1450px 900px;
  height: 950px;
  top: 0;
  left: 0;
  z-index: 1;
}

h1 {
  padding-top: 2em;
  padding-left: 3em;
  color: red;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: xx-large;
  text-align: left;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 70%;
  align-items: center;
  margin-left: 20em;
  margin-right: 20em;
}

.navbutton {
  background-color: red;
  color: #00ff01;
  border: none;
  width: 7em;
  font-size: x-large;
}

.who {
  background-image: url(./Who.jpg);
  background-repeat: no-repeat;
  background-size: 1450px 900px;
  height: 900px;
  top: 0;
  left: 0;
  z-index: 1;
}

.sitenav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 75%;
  width: 20%;
  color: black;
  padding-top: 2em;
}

.navlink {
  color: black;
}

.what {
  background-image: url(./what.jpg);
  background-repeat: no-repeat;
  background-size: 1450px 900px;
  height: 900px;
  top: 0;
  left: 0;
  z-index: 1;
}

.pagelinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30%;
  width: 80%;
  padding-left: 2%;
  font-size: 30px;
}

.separator {
  font-size: 60px;
}
